@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Reem+Kufi+Ink&family=Righteous&family=Roboto+Condensed:wght@400;700&family=Sarala&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cabecalho {
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #23a6d5, transparent);
  width: 100%;
}

.svg-standalone-icon {
  margin: 12px 0 12px 32px;
}

.dp-menu {
  margin-right: 64px;
}

.dp-menu-list {
  display: flex;
  list-style-type: none;
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  gap: 64px;
}

.dp-menu-list-item {
  display: inline;
  position: relative;
}

.dp-menu-sublist-item {
  display: inline;
  position: relative;
}

.dp-menu-list-item a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  transition: background .5s;
  border-radius: 8px;
}

.dp-menu-sublist-item a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  transition: background .5s;
  border-radius: 0;
}

.dp-menu-list-item a:hover {
  background-color: #00000021;
}

.dp-menu-sublist-item a:hover {
  background-color: #00000021;
}

.dp-menu-sublist {
  display: none;
  list-style: none;
  position: absolute;
  border: 1px solid black;
  border-radius: 8px;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  left: 0;
}

.dp-menu ul li:hover .dp-menu-sublist {
  display: list-item;
}

.dp-menu-sublist {
  width: 200px;
  flex-direction: column;
}

.dp-menu .dp-menu-sublist-item a {
  flex-direction: column;
  display: block;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px;
}

.projeto-ul {
  display: flex;
  flex-direction: column;
}

.conteudo {
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #000000;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  flex-wrap: nowrap;
}

.conteudo-principal-escrito-botao {
  background-color: #FFF2E7;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
  transform: scale(110%);
  transition: 0.2s all;
  cursor: pointer;
  outline: none;
}

.conteudo-principal-escrito-botao:not(:hover) {
  transform: scale(100%);
  transition: 0.2s all;
  background-origin: initial;
}

.conteudo-principal-escrito-botao:active {
  transform: scale(105%);
}

.conteudo-principal-imagem {
  display: 100%;
  margin-top: 180px;
  height: 430px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 0.4px solid #00000091;
  background: radial-gradient(transparent 10%, black 30%);
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 124px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #00000091;
  padding-top: 48px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  text-align: center;
}

.conteudo-terciario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 64px 0;
  gap: 24px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.conteudo-terciario-titulo {
  font-size: 48px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  padding: 0 64px 0 64px;
}


.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
  height: 100%;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  animation: gradient 25s ease infinite;
  border: #000000;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-image {
  width: 100%;
  height: 160px;
  border-radius: 8px 8px 0 0;
}

.card-details {
  font-size: 12px;
  padding: 0 8px 0 8px;
}

.card-button {
  padding: 0 8px 0 8px;
  margin-bottom: 24px;
}

.card-button button {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 4px;
}

.card-button button:hover {
  cursor: pointer;
  background: #00000021;
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.rodape {
  display: flex;
  justify-content: center;
  padding: 32px;
  border-top: 0.4px solid #00000091;
  align-items: center;
}

.rodape-imagem {
  height: 160px;
  display: block;
  margin: 0 auto;
}